
body {
    box-sizing: border-box;
}

.molo {
    font-family: apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    i {
        padding: 10px;
    }
    .fab.fa-jira {
        color: white;
        // transform: rotate(45deg);
        font-size: 32px;
    }
    .section-col {
        min-height: 100%;
        padding: 0;
        display: flex;
        flex-flow: column wrap;
    }
    .section-row {
        min-height: 100%;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        .side-bar {
            padding: 1rem;
            width: 5%;
            &.blue {
                background-color: rgb(0, 82, 204);
            }
            // &.blue {
            //     background-color: red;
            // }
        }
        .content {
            // padding: 1.5rem;
            &.gray {
                background-color: rgb(244, 245, 247);
                width: 20%;
                display: flex;
                flex-flow: column wrap;
                .side-nav{
                    list-style: none;
                    .el-side-nav {
                        padding: 10px 0;
                    }
                }

                
            }
            &.white {
                display: flex;
                flex-flow: column wrap;
                background-color: #fff;
                width: 50%;
                .header {
                    padding: 32px 16px;
                }
                .body {
                    display: flex;
                    flex-flow: row nowrap;
                    .sm-board {
                        margin: 0 10px;
                        padding: 10px;
                        min-width: 200px;
                        min-height: 100%;
                        border-radius: 3px;
                        background-color: rgb(244, 245, 247);;
                    }
                }
            }
        }
    }
    header {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 12px;
        height: 56px;
        position: relative;
        background-color: #FFFFFF;
        color: #6B778C;
    }
    header:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 4px;
        background: linear-gradient(180deg,rgba(9,30,66,0.13) 0,rgba(9,30,66,0.13) 1px,rgba(9,30,66,0.08) 1px,rgba(9,30,66,0) 4px);
    }
    nav {
        align-items: center;
        display: flex;
        flex-grow: 1;
        min-width: 0;
        height: inherit;
        // padding: 15px;
        background-color: white;
        color: black;
        font-size: 14px;
        .main-bar {
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            .el-main-nav {
                padding: 0 10px;
                font-weight: bold;
                margin: 0 4px;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                align-self: baseline;
            }
        }
        .down-arrow {
            transform: rotate(-90deg);
        }
        .down-arrow:after {
            content: '\203A';
            margin-left: 5px;
            // transform: rotate(45deg);
        }
        .createBtn button {
            -webkit-box-align: baseline;
    align-items: baseline;
    border-width: 0px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: rgb(0, 82, 204);
    border-radius: 3px;
    box-shadow: transparent 0px 0px 0px 2px;
    color: rgb(255, 255, 255);
    cursor: default;
    height: 2.28571em;
    line-height: 2.28571em;
    padding: 0px 8px;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    vertical-align: middle;
    width: auto;
        }

    }
    .modal-wrapper {
        margin: auto;
        max-width: 400px;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
    .initial-modal {
        padding: 1.5rem;
        margin: 0 auto;
        height: 50vh;
        width: 50%;
        background-color: bisque;
        border-radius: 3px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }


    // MODAL 
    .modal-container {
        background: rgba(7, 23, 36, 0.4);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        z-index: 21000;
        padding: 20px;
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none;
        text-align: center;
        min-width: 800px;
        &:before {
            content: '';
            display: inline-block;
            height: 10px;
            vertical-align: middle;
        }
        &.open {
            opacity: 1;
            pointer-events: all;
        }
    }

    .modal {
        width: 100%;
        display: inline-block;
        text-align: left;
        max-width: 865px;
        min-height: auto;
        margin-bottom: 16px;
        background: whitesmoke;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        transition: transform 0.5s, opacity 2s -webkit-transform 0.5s;
        z-index: 90000;
        transform: scale(0.9);
        vertical-align: middle;
        position: relative;
        left: 0;
        &:active {
            transform: scale(1);

        }
        &::after {
            // for Accessibility HIgh Contrast mode
            content: '';
            position: absolute;
            display: block;
            border: 1px solid transparent;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            pointer-events: none;
        }
    }

    .modal-header {
        background-color: #fff;
        border: none;
        padding: 16px 32px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .modal-title {
        font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;;
        color: #172b4d;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.5;
        margin: 0;
        overflow: hidden;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .modal-close {
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 9px 8px 7px;
        font-size: 1.1em;
        color: lightblue;
        background: none;
        border: 0;
        cursor: pointer;
        &:before {
            content: '';
            display: block;
            box-sizing: border-box;
            line-height: 0;
            margin-top: -2px;
        }
        &:hover {
            background: darkgray;
        }
        &:focus {
            outline: 2px solid lightsteelblue;
        }   
    }

    .modal-body {
        // padding: 24px;
        background-color: #fff;
        border: none;
        padding: 16px 32px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        .list-projects {
            display: none;
            min-height: 300px;
            height: auto;
            ul {
                font-weight: 500;
            }

        }
        &.displayed {
            display: block;
        }
    }

    .modal-footer {
        background-color: #fff;
        border: none;
        padding: 16px 32px;
        width: 800px;
        margin-left: auto;
        margin-right: auto
    }

    .modal-bottom-close {
        left: -1000%;
        position: absolute;
    }

    input[type-text] {
        height: 32px;
        font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        background-color: #f4f5f7;
        border: 1px solid #dfe1e6;
        padding: 4px 7px 5px;
    }
}

body.modal-open {
    overflow: hidden;
}
